.c1{
    text-align: center;
}
.c2{
    text-decoration: none;
}
table, th,td{
    border : 1px solid black;
    border-collapse: collapse;
}
th,td{
    padding: 15px;
    text-align: left;
}
th{
    background-color:darkblue;
    color: crimson;
}
tr:nth-child(even){
    background-color: darkgrey;
}
tr:nth-child(odd){
    background-color: darkslategrey;
}